<head>
  <meta charset="utf-8">
  <title>Hello WebSocket</title>
  <link href="/css/main.css" rel="stylesheet">
  <script type="text/javascript" th:src="@{../js/websocket.js}"></script>
</head>
<body>
<noscript><h2 style="color: #f80707">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">오픈 대화방</label>
          <br>
          <input type="text" id="name" class="form-control" placeholder="Please login before using chat service.." disabled>
          <button id="connect" class="btn btn-default" type="submit">접속</button>
          <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">나가기
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <thead>
        <tr>
          <th>대화</th>
        </tr>
        </thead>
        <tbody id="greetings">
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" id="content" class="form-control" placeholder="have a conversation...">
        </div>
        <button id="send" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
</body>
